#第五人格消息

#序号提示
cl_message_client_color yellow
echo ---------------------------------
echo 0.exit
echo 1.快走！
echo 2.我需要帮助，快来！
echo 3.别救！保平！
echo 4.我卡了！
echo 5.站着别动！我来帮你！
echo 6.不要倒在这里！
echo 7.快去救人！
echo 8.我先走了！
echo 9.离开我身边！
echo ---------------------------------

#bind实例
bind kp_0 "exec Cfgs\功能\emote.cfg;echo ---------------------------------;echo 已退出;echo ---------------------------------"
bind kp_1 "exec Cfgs\功能\emote.cfg; say_team 快走！"
bind kp_2 "exec Cfgs\功能\emote.cfg; say_team 我需要帮助，快来！"
bind kp_3 "exec Cfgs\功能\emote.cfg; say_team 别救！保平！"
bind kp_4 "exec Cfgs\功能\emote.cfg; say_team 我卡了！"
bind kp_5 "exec Cfgs\功能\emote.cfg; say_team 站着别动！我来帮你！"
bind kp_6 "exec Cfgs\功能\emote.cfg; say_team 不要倒在这里！"
bind kp_7 "exec Cfgs\功能\emote.cfg; say_team 快去救人！"
bind kp_8 "exec Cfgs\功能\emote.cfg; say_team 我先走了！"
bind kp_9 "exec Cfgs\功能\emote.cfg; say_team 离开我身边！"